main {
  flex-grow: 1;

  overflow: auto;

  height: 100%;

  section {
    max-width: 75rem;
    min-height: 100vh;
    margin: 80px 0;
    padding: 20px 35px;
    .about-area {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 72px;
        text-transform: uppercase;
        font-weight: 700;
        color: #343a40;
        span {
          color: #bd5d38;
        }
      }

      h6 {
        color: #6c757d;
        font-size: 18px;
        font-weight: 500;

        span {
          color: #bd5d38;
          text-decoration: underline;
        }
      }

      .about-text {
        display: flex;
        padding-top: 58px;
        color: #6c757d;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.5px;
      }

      ul {
        display: flex;
        align-items: center;

        list-style-type: none;
        gap: 1.4rem;
        margin-top: 4rem;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #6c757d;
          padding: 10px;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background: #6c757d;
          margin-bottom: 52px;

          i {
            color: #fff;
            font-size: 24px;
          }
        }
      }
    }
  }

  section {
    max-width: 75rem;
    min-height: 100vh;
    margin: 80px 0;
    padding: 20px 35px;

    .expArea {
      display: flex;
      flex-direction: column;
      h2 {
        text-transform: uppercase;
        font-size: 42px;
        color: #343a40;
      }
      .expContent {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        .expDetail {
          flex-grow: 1;
          h3 {
            font-size: 32px;
            text-transform: uppercase;
            color: #343a40;
            letter-spacing: -0.1rem;
          }

          .expHeading {
            color: #6c757d;
            text-transform: uppercase;
            padding-top: 5px;
            font-size: 24px;
            letter-spacing: -0.1rem;
          }
          div {
            color: #758081;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.5px;
          }
          p {
            margin-top: 20px;
            color: #758081;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.5px;
          }
        }
        .expDate {
          flex-shrink: 0;
          color: #bd6558;
          font-size: 16px;
        }
      }
    }
  }

  section {
    max-width: 75rem;
    min-height: 100vh;

    margin: 80px 0;
    padding: 20px 35px;
    .skillsContent {
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
      h2 {
        text-transform: uppercase;
        font-size: 42px;
        color: #343a40;
      }
      .skillsHeading {
        color: #6c757d;
        text-transform: uppercase;
        padding: 15px 0;
        font-size: 24px;
        letter-spacing: -0.1rem;
      }
      .iconList {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        li {
          margin: 20px 0;
          i {
            font-size: 46px;
            color: #6c757d;
          }
        }
      }
      .skillsList {
        li {
          font-size: 18px;
          color: #6c757d;
        }
      }
    }
  }

  section {
    max-width: 75rem;
    min-height: 100vh;
    margin: 80px 0;
    padding: 20px 35px;
    .interestContent {
      h2 {
        text-transform: uppercase;
        font-size: 42px;
        color: #343a40;
      }
      .mt-40 {
        color: #6c757d;

        padding-top: 40px;
        font-size: 18px;
        letter-spacing: -0.1rem;
      }

      .mt-20 {
        color: #6c757d;

        padding-top: 15px;
        font-size: 18px;
        letter-spacing: -0.1rem;
      }
    }

    
  }
section {
      max-width: 75rem;
      min-height: 100vh;
      margin: 80px 0;
      padding: 20px 35px;
      .awardsContent {
        h2 {
          text-transform: uppercase;
          font-size: 42px;
          color: #343a40;
           letter-spacing: -0.1rem;
        }
        ul{
          padding-top: 40px;
          li{
            color: #6c757d;
            font-size: 18px;
            i{
              color:#FFC107;
            }
          
          }
        }
      }
    }
  @media all and (max-width: 900px) {
    height: calc(100% - 79px);
    &.main-active {
      height: calc(100% - 400px);
    }
    section {
      margin: 60px 0;
      padding: 10px 20px;
      .about-area {
        h1 {
          font-size: 46px;
           letter-spacing: -0.1rem;
        }
      }
    }

    section {
      // margin: 60px 0;
      margin: 60px 0;
      padding: 10px 20px;

      .expArea {
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 36px;
          color: #343a40;
        }
        .expContent {
          display: flex;
          flex-direction: column;
          padding-top: 30px;
          .expDetail {
            h3 {
              font-size: 28px;
            }
            .expHeading {
              font-size: 24px;
            }
          }
          .expDate {
            padding-top: 20px;
          }
        }
      }
    }

    section {
      margin: 60px 0;
      padding: 10px 20px;
      .skillsContent {
        .iconList {
          li {
            margin: 5px 0;
            font-size: 14px;
          }
        }
      }
    }

    section {
      margin: 60px 0;
      padding: 10px 20px;
      .interestContent {
        h2 {
          font-size: 36px;
        
        }
      }
    }
    
    section {
         margin: 60px 0;
      padding: 10px 20px;
      .awardsContent {
        h2 {
  
          font-size: 36px;
     
        }
      }
    }
  }
}
