main{
    flex-grow: 1;
    overflow: auto;
    padding: 25px;
   height: 100%;
   
   
   @media all and (max-width: 900px){
       height: calc(100% - 79px);
      &.main-active{
           height: calc(100% - 355px);
      }
   }
}